.grid-container {
    display: grid;
    background-color: green;
    padding: 20px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px; 
}
.grid-container > div {
    background-color: #f1f1f1;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}
.union {
    grid-column: span 2;
}

