.container {
    display: flex;
    background-color: goldenrod;
    flex-direction: row;
    flex-wrap: wrap;
}
.container > div {
    background-color: #f1f1f1;
    margin: 10px;
    width: 100px;
    font-size: 30px;
    text-align: center;
    line-height: 75px;
}