body {
    height: 5000px;
}
.topnav {
    top: 0px;
    background-color: aqua;
    position:sticky;
    
}
.topnav a {
    display: block;
    color: blue;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}